[Unit]
Description=Duplicity backup
Requires=duplicity-backup.service

[Timer]
Unit=duplicity-backup.service
OnCalendar={{ backup_schedule }}
AccuracySec=12h
Persistent=true

[Install]
WantedBy=timers.target
