discovery-dns
detect-captive-portals false
hardened-privacy false
use-hosts true
config {{ nextdns_config_id }}
cache-max-age 0s
report-client-info true
max-ttl 0s
log-queries false
cache-size 10MB
control /run/nextdns/nextdns.sock
setup-router false
auto-activate true
listen localhost:53
bogus-priv true
timeout 5s
