#!/bin/env bash

notify-send 'Backup started'

# GPG-encrypted backups
gopass env {{ backup_s3_gopass_secret_dir }} \
    duplicity \
    --encrypt-key {{ backup_gnupg_encrypt_key_id }} --sign-key {{ backup_gnupg_signing_key_id }} --use-agent \
    --exclude-filelist ${HOME}/.config/duplicity-backup-exclude \
    --s3-use-new-style --asynchronous-upload \
    --full-if-older-than {{ backup_full_period_days }}D --progress -v 8 \
    "{{ backup_source_dir }}" "s3+http://{{ backup_s3_bucket_name }}/$(hostname)"

if [ $? -ne 0 ]; then
  notify-send -u critical 'Backup started' ; exit 1
fi

notify-send 'Backup completed'

# Clean up older backups to save storage space/cost
gopass env {{ backup_s3_gopass_secret_dir }} \
    duplicity \
    remove-older-than {{ backup_retention_days }}D --force \
    "s3+http://{{ backup_s3_bucket_name }}/$(hostname)"
