[Unit]
Description=Lock the screen
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=XDG_SEAT_PATH=/org/freedesktop/DisplayManager/Seat0
Environment=DISPLAY=:0
ExecStart=/usr/bin/dm-tool lock

[Install]
WantedBy=sleep.target
