---

# Based on ansible-lint config
extends: default

rules:
  key-duplicates: enable
  line-length: disable

  braces:
    max-spaces-inside: 1
    level: error

  brackets:
    max-spaces-inside: 1
    level: error

  colons:
    max-spaces-after: -1
    level: error

  commas:
    max-spaces-after: -1
    level: error

  hyphens:
    level: error

  new-lines:
    type: unix
