[Unit]
Description=Duplicity backup
Wants=duplicity-backup.timer

[Service]
Type=oneshot
ExecStart=/home/{{ user_name }}/.bin/duplicity-backup.sh
Restart=on-failure
RestartSec=300

[Install]
WantedBy=multi-user.target
